*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    padding: 2rem;;
}

p,li,h1,h2,h3,h4,h5,span,strong{
    
    font-family: sans-serif;
}

div.container{
    margin: 0 auto;
    max-width:86.2rem;
}

header{
    background-color: #ff6900;
    color: white;
}

header section.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:0.8rem;
}

header section.navbar img{
    height: 2rem;
}

header section.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

header section.navbar li{
    padding: 0.5rem;
}




section.productParent{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    position: relative;
}

section.productParent > article{
    width: calc((100% / 3) - 1rem);
}

article.product > img{
    width: 100%;
    object-fit: cover;
    padding: 0.3rem;
}

div.productFlex{
    display: flex;
    flex-direction: column;
    padding-left: 0.3rem;
}

div.innerProductFlex{
    display: flex;
    flex-direction: row;
}

div.innerProductFlex p{
    padding-right: 0.3rem;
}

article.product > span.heart1{
    position:absolute;
    left: 24.9rem;
    top: 1rem;
    background-color: white;
    color: black;
    padding: 0.8rem 1rem;
}

article.product > span.heart2{
    position:absolute;
    left: 53.7rem;
    top: 1rem;
    background-color: white;
    color: black;
    padding: 0.8rem 1rem;
}

article.product > span.heart3{
    position:absolute;
    left: 82.4rem;
    top: 1rem;
    background-color: white;
    color: black;
    padding: 0.8rem 1rem;
}

.smaller{
    font-size: smaller;
}

.bigger{
    font-size: larger;
}

.red{
    color: red;
}

.line-through{
    text-decoration: line-through;
}

article.product > span.discount1{
    position:absolute;
    left: 0.8rem;
    bottom: 6rem;
    background-color: red;
    font-size: 1,5rem;
    color: white;
    padding: 0.2rem 0.5rem;
}

article.product > span.discount2{
    position:absolute;
    left: 29.6rem;
    bottom: 6rem;
    background-color: red;
    font-size: 1,5rem;
    color: white;
    padding: 0.2rem 0.5rem;
}

article.product > span.discount3{
    position:absolute;
    left: 58.3rem;
    bottom: 6rem;
    background-color: red;
    font-size: 1,5rem;
    color: white;
    padding: 0.2rem 0.5rem;
}

article.product > span.sos1{
    position:absolute;
    left: 4rem;
    bottom: 6rem;
    background-color: green;
    font-size: 1,5rem;
    color: white;
    padding: 0.2rem 0.5rem;
    font-weight: 600;
}

article.product > span.sos2{
    position:absolute;
    left: 58.3rem;
    bottom: 6rem;
    background-color: green;
    font-size: 1,5rem;
    color: white;
    padding: 0.2rem 0.5rem;
    font-weight: 600;
}

.img1b{
    display: none;
    position: absolute;
    width: 27rem;
    height: 38.9rem;
    left: 0.9rem;
    bottom: 4rem;
}

article.prod1:hover img{
    display: block;
}

.img2b{
    display: none;
    position: absolute;
    width: 27.2rem;
    height: 39rem;
    left: 29.5rem;
    bottom: 4rem;
}

article.prod2:hover img{
    display: block;
}

.img3b{
    display: none;
    position: absolute;
    width: 27.2rem;
    height: 39rem;
    left: 58rem;
    bottom: 4rem;
}

article.prod3:hover img{
    display: block;
}


article.prod4:hover img{
    display: block;
}

article.prod5:hover img{
    display: block;
}

article.prod6:hover img{
    display: block;
}


footer{
    background-color: #1A1A1A;
    color: white;
    padding: 0 13.7rem 0 14rem;
}

footer section.foot{
    display: flex;
    justify-content: space-between;
}

footer div.footer1{
    display: flex;
    flex-direction: column;
}

footer div.footer1{
    padding: 2rem
}

footer div.footer1 h3,h4{
    padding-bottom: 1rem;
}

footer div.internalFooter1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer div.internalFooter1 p{
    padding-right: 0.5rem;
}

footer div.footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

footer div.internalFooter2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer div.internalFooter2 p{
    padding-right: 0.5rem;
}
