*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main{
    padding: 2rem;;
}

p,li,h1,h2,h3,h4,h5{
    
    font-family: sans-serif;
}

div.container{
    margin: 0 auto;
    max-width:93rem;
}

header{
    background-color: #ff6900;
    color: white;
}

header section.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding:0.8rem;
}

header section.navbar img{
    height: 2rem;
    padding-left: 7rem;
}

header section.navbar ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

header section.navbar li{
    padding: 0.5rem;
}

section.productParent{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}

section.productParent > article{
    width: calc((100% / 3) - 1rem);
}

article.product > img{
    width: 100%;
    object-fit: cover;
    padding: 0.3rem;
}

footer{
    background-color: #1A1A1A;
    color: white;
}

footer section.foot{
    display: flex;
    justify-content: space-evenly;
}

footer div.footer1{
    display: flex;
    flex-direction: column;
}

footer div.footer1{
    padding: 2rem
}

footer div.footer1 h3,h4{
    padding-bottom: 1rem;
}

footer div.internalFooter1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer div.internalFooter1 p{
    padding-right: 0.5rem;
}
